[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Zerohertz/nvim
[submodule "linux/config"]
	path = linux/config
	url = https://github.com/Zerohertz/linux-config
	branch = main
